{% extends "base.html" %}

{% block title %}Player {{ context.player.name }}{% endblock %}

{% block head %}
<style>
</style>
{% endblock %}

{% block content %}
<h1>Player: {{ context.player.name }}</h1>
<object data="/plot/rating/{{ context.player.steam_id }}" type="image/svg+xml">
    <p>Error loading ratings plot.</p>
</object>
<h3>History</h3>
<table>
    <thead>
        <tr>
            <th>Date & Time</th>
            <th>Rank</th>
            <th>Rating</th>
            <th>Wins</th>
            <th>Losses</th>
        </tr>
    </thead>
    <tbody>
        {% for entry in context.history %}
        <tr>
            <td>{{ entry.timestamp }}</td>
            <td>{{ entry.rank }}</td>
            <td>{{ entry.rating }}</td>
            <td>{{ entry.wins }}</td>
            <td>{{ entry.losses }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<p>Updated: {{ context.timestamp }}</p>
{% endblock %}