{% extends "base.html" %}

{% block title %}Weekly Leaderboard{% endblock %}

{% block head %}
<style>
</style>
{% endblock %}

{% block content %}
<h1><a href="/">linewar.org</a></h1>
<h2>Weekly Leaderboard</h2>
<table>
    <thead>
        <tr>
            <th>Weekly Rank</th>
            <th>Overall Rank</th>
            <th>Player</th>
            <th>Rating</th>
            <th>Wins</th>
            <th>Losses</th>
            <th>Last Played</th>
        </tr>
    </thead>
    {% for entry in context %}
    <tr>
        <td>{{ entry.recent_rank }}</td>
        <td>{{ entry.overall_rank }}</td>
        <td><a href="/player/{{ entry.steam_id }}">{{ entry.name }}</a></td>
        <td>{{ entry.rating }}</td>
        <td>{{ entry.wins }}</td>
        <td>{{ entry.losses }}</td>
        <td>{{ entry.time_ago }}</td>
    </tr>
    {% endfor %}
    <tbody>

    </tbody>
</table>
{% endblock %}
