{% extends "base.html" %}

{% block title %}Leaderboard{% endblock %}

{% block head %}
<style>
</style>
{% endblock %}

{% block content %}
<h1><a href="/">linewar.org</a></h1>
<table>
    <thead>
        <tr>
            <th>Rank</th>
            <th>Player</th>
            <th>Rating</th>
            <th>Wins</th>
            <th>Losses</th>
        </tr>
    </thead>
    {% for entry in context.entries %}
    <tr>
        <td>{{ entry.rank }}</td>
        {% match entry.get_steam_id() %}
        {% when Some with (steam_id) %}
        <td><a href="/player/{{ steam_id }}">{{ entry.name }}</a></td>
        {% when None %}
        <td>{{ entry.name }}</td>
        {% endmatch %}
        <td>{{ entry.rating }}</td>
        <td>{{ entry.wins }}</td>
        <td>{{ entry.losses }}</td>
    </tr>
    {% endfor %}
    <tbody>

    </tbody>
</table>
<p>Updated: {{ context.timestamp }}</p>
{% endblock %}
